page {
  background-color: #ffffff;
}
.index {
  padding-bottom: 200px;
}
.text-area {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 350px;
  font-size: 30px;
  color: #606266;
  padding: 0 15px;
  line-height: 1.2rem;
  border-bottom: 2px solid #DCDFE6;

  & .textarea {
    width: 100%;
    height: 100%;
  }
}

.picture-area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  & .picture-item {
    display: flex;
    box-sizing: border-box;
    height: 225px;
    width: 225px;
    margin-top: 40px;
    margin-left: 20px;
    justify-content: center;
    align-items:center;
    background-size: cover;
    position: relative;

    & .picture-img {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    & .remove {
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .8);
      color: #606266;
      position: absolute;
      top: -30px;
      right: -20px;
      font-size: 30px;
    }

    &.picture-add {
      font-size: 60px;
      border: 2px solid #DCDFE6;
      color: #DCDFE6;
    }
  }
}

.category-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 35px;

  & .category-item {
    color: #909399;
    border: 1px solid #DCDFE6;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 30px;
    margin: 15px 10px;

    &.active {
      color: #FF0099;
      border: 1px solid #FF0099;
    }
  }
}

.action-list {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

  & .action-button {
    height: 80px;
    line-height: 80px;
    width: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 35px;

    &.action-submit {
      background-color: #FF0099;
    }

    &.action-cancel {
      background-color: #909399;
    }
  }
}


