.header{
  display: block;
  width: 100%;
}

.title-block {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  & .big-logo {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-sizing: border-box;
    background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1544285251208&di=d3b5a0d1c0f52e5733c88a1ea81efc89&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201407%2F03%2F20140703194024_5YWEL.jpeg');
    background-size: cover;
    border: 5px solid rgba(255, 255, 255, .8);
  }

  & .site-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 35px;

    & .site-info-header {
      display: flex;
      justify-content: flex-end;

      & .item {
        border: 2px solid rgba(255, 255, 255, .8);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 5px 10px;
        margin-left: 30px;

        & .iconfont {
          font-size: 40px;
        }

      }

    }

  }

}

.notice {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 50px;
  font-size: 30px;
  color: #606266;
  box-sizing: border-box;
  background-color: #ffffff;

  & .iconfont {
    font-size: 40px;
    margin-right: 10px;
  }

  & .notice-title {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}

.tab-list {
  background-color: #ffffff;
  margin-top: 20px;
}

.list-item {
  display: block;
  width: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 15px 20px;
  box-sizing: border-box;

  & .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;

    & .van-icon {
      font-size: 30px;
    }

    & .list-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-size: cover;
    }

    & .list-title {
      flex: 10;
      box-sizing: border-box;
      padding: 0 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 30px;
      color: #303133;
      display: flex;
      flex-direction: column;

      & .list-time {
        font-size: 25px;
        color: #909399;
      }

      & .list-level{
        font-size: 20px;
        color: #58B7FF;
        border: 1px solid #58B7FF;
        padding: 0 5px;
        box-sizing: border-box;
      }
    }

    & .iconfont {
      flex: 2;
      text-align: center;
      font-size: 40px;
    }
  }

  & .list-desc {
    color: #606266;
    font-size: 35px;
    line-height: 1.2rem;

    & .item-cate {
      color: #20A0FF;
    }
  }

  & .list-footer {
    width: 100%;
    display: flex;
    height: 80px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #e5e5e5;

    & .footer-action {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: #909399;
      position: relative;

      & .share-opacity {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
      }

      & .van-icon {
        font-size: 30px;
        margin-right: 15px;
      }
    }

  }
}

.publishButton {
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #20A0FF;
  color: #ffffff;
  font-size: 30px;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #333333;
}
