.action-sheet-item{
  font-size: 36px;
  color: #333333;
  padding: 25px 0!important;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-top: none;
  border-bottom: 1px solid #DCDFE6;
}
.hoverItem{
  background-color: #E4E7ED;
}
.action-sheet-cancel{
  margin-top: 15px;
  border-bottom: none;
  border-top: 1px solid #DCDFE6;
}
.action-sheet-description{
  font-size: 28px;
  color: #606266;
  padding: 25px 50px;
  line-height: 1.4rem;
  border-bottom: 1px solid #DCDFE6;
  background-color: #fff;
}
