@import './assets/css/ex-icon.scss';

.loading {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  color: #909399;
  font-size: 30px;

  & .van-icon {
    animation: t-rotate .8s linear infinite;
    margin-right: 10px;
  }

}

@keyframes t-rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

page{
  background-color: #DCDFE6;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  flex-wrap: wrap;

  & .action-button {
    width: 80%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    border-radius: 10px;

    &.action-submit {
      background-color: #20A0FF;
    }

    &.action-cancel {
      background-color: #909399;
    }

  }
}

.van-icon {
  font-size: 25px;
}


