page{
  background-color: #F9FAFC;
}

@font-face {font-family: "iconfont";
  src: url('./assets/font/iconfont.ttf') format('truetype')

}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before { content: "\e64a"; }

.icon-gonggao:before { content: "\e6c0"; }

.icon-iconfontzhizuobiaozhun49:before { content: "\e630"; }

.icon-gengduo:before { content: "\e69b"; }

.icon-search:before { content: "\e61d"; }

.icon-dianzan:before { content: "\e61a"; }

.icon-Group-:before { content: "\e698"; }

.icon-Sign:before { content: "\e614"; }


