.header {
  display: flex;
  width: 100%;
  height: 110px;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;

  color: #606266;

  & .title {
    font-size: 35px;
  }

  & .score {
    margin-top: 15px;
    font-size: 45px;
    font-weight: bold;
  }
}

.block {
  margin-top: 30px;
  padding: 0 15px;
  background-color: #ffffff;
  & .list {
    display: flex;
    height: 100px;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
    font-size: 30px;
    color: #606266;
    justify-content: space-between;

    & .count {
      text-align: right;
      flex: 5;
    }
    & .title {
      flex: 10;
    }
  }

}
